@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Smokum&display=swap');

:root {
    --primary-color: #74beec;
    --secondary-color: #9ce6ec;
    --accent1-color: #60ae32;
    --accent2-color: #093658;
  
    --heading-font: 'Smokum';
    --paragraph-font: 'Patrick Hand';
  
    --nav-background-color: #81eCCA;
    --nav-link-color: #60ae32;
    --nav-hover-link-color: #093658;
    --nav-hover-background-color: #9ce6ec;
}
h1 {
    font-family: var(--heading-font);
    color: black;
    font-size: 60px;
    text-shadow: 2px, 2px, 1px #093658;
    position: absolute;
    top: 20px;
    left: 80px;
    right: 80px;
    text-align: center;
}
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 40px;
    text-align: center
}
h3 {
    text-align: center;
}
p {
    margin: 4rem;
}
.figure {
    display: flex;
    justify-content: space-between;
}
a img {
    width: 30px;   
}
.hero {
    position: relative;
}
.hero img {
    position: relative;
    width: 100%;
}
article {
    position: absolute;
    top: 200px;
    padding: 30px;
    font-size: 20px;
    background-color: aliceblue;
}
.hero article img {
    float: right;
    width: 400px;
    height: auto;
}
section img{
    height: 170px;
    width: auto;
}
body {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}
footer {
    text-align: center;
}
.sociallinks {
    float: right;
    display: flex;
    width: 50px;
    height: auto;
}
nav {
    background: rgb(242, 241, 241);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
img {
    width: 100px
}